 {% extends 'layout.html' %}





 {%block content%}






 <div style="margin-right: 20rem;margin-left: 20rem" >
    <table class="table"  >
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">Task</th>
            <th scope="col" style="text-align: right;">Status</th>
    
          </tr>
        </thead>
       {% if data %}
        
        {%for d in data %}

        <tbody>
          <tr>
            <th scope="row" >{{d.msg}}</th>
            <td style="text-align: right;"><a href="/done/{{d.id}}"><button type="button" class="btn btn-success">Done</button></a></td>
            <td style="text-align: left;"><button type="button" class="btn btn-info">Update</button></td>
            
          </tr>
          
        </tbody>
        {% endfor %}
        {% endif %}
      </table>



    </div>






 {% endblock %}
