{% extends 'layout.html' %}





 {%block content%}






 <div style="margin-right: 20rem;margin-left: 20rem" >
    <table class="table"  >
        <thead>
          <tr>
            <th scope="col" style="text-align: center;">Task</th>
            <th scope="col" style="text-align: right;">Status</th>
    
          </tr>
        </thead>
       {% if data %}
        
        {%for d in data %}

        <tbody>
          <tr>
            <th scope="row" >{{d.msg}}</th>
            <td style="text-align: right;"><a href="/done/{{d.id}}"><button type="button" class="btn btn-success">Done</button></a></td>
            <td style="text-align: left;"><a href="/update/{{d.id}}"<button type="button" class="btn btn-info">Update</button></a></td>
            
          </tr>
          
        </tbody>
        {% endfor %}
        {% endif %}
      </table>



    </div>

    <div style="margin-left: 2rem; margin-right: 70rem ">
      <br>
      <br>
      <br>  
      <form action="{{url_for('index')}}" method="post" >
    
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="add tasks here" name='inputmg' >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit">add</button>
            </div>
          </div>
    
        </form>
      </div>
    





 {% endblock %}